.row
  %aside.col-md-4
    %section.user-info
      .info-user
        = gravatar_for(@user)
        %h1.profile-username= @user.name
        = link_to 'Go to Home page', root_path
    .orders
      %h2 Your orders:
      - if @orders.empty?
        %h3 You don't have any orders yet.
        %h2= link_to 'Order some food', root_path
      - else 
        .orders-container
          - @orders.each do |order|
            .cart-box
              %h2= order.delivery_date
              %h3= order.address
              = link_to 'See details', order_path(order)
  