%h1.dashboard-title.page-title Orders Dashboard
%table
  - @orders.each do |order|
    - user = User.find(order.user_id)
    %tr
      %td= link_to "Order #{ order.id }", order
      %td= link_to user.name, user
      %td= "on #{ order.delivery_date }"
      %td{ class: "order-status-#{ order.status }" }= order.status
      %td= button_to 'Edit', edit_order_path(order), method: 'get'
      %td= button_to 'Remove', order, method: 'delete', data: { confirm: 'Are you sure?' }
%br/
= link_to 'Back to Home', root_path
