%h1.dashboard-title.page-title Orders Dashboard
%table
  - @orders.each do |order|
    - user = User.find(order.user_id)
    %tr
      %td= link_to "Order #{ order.id }", order
      %td= link_to user.name, user
      %td= "on #{ order.delivery_date }"
%br/
= link_to 'Back to Home', root_path
