!!!
%html
  %head
    %script{:src => './animation.js'}
  %body
    = render 'layouts/header'
    %header.header
      .bg-image
      .top-container
        .logo-container
          %img.logo{:src => '../images/logo.png'}/
          %span.logo-name
            EUREKA
            %br>/
            CAFFE
        %nav
          %ul.navigation-top
            %li.nav-item
              %a.nav-link{:href => '#home'} HOME
            %li.nav-item
              %a.nav-link{:href => '#about'} ABOUT
            %li.nav-item
              %a.nav-link{:href => '#service'} SERVICE
            %li.nav-item
              %a.nav-link{:href => '#blog'} BLOG
            %li.nav-item
              %a.nav-link{:href => '#contacts'} CONTACTS
      %h1.title Ordering food
      .flex-container
        %span.underline ..................................................................................
        %img.mini-logo{:src => '../images/miniLogo.png'}/
        %span.underline ..................................................................................
      %p.description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea soluta pariatur voluptatum fugiat voluptatem officiis non! Exercitationem, explicabo error.
    %main.main
      .main-top
        .dropdown-container
          %select.select
            %option{:value => 'category'} CATEGORY
            %option{:value => 'firstCategory'} firstCategory
          %span#arr1.arrow
          %select.select
            %option{:value => 'sorting'} SORTING
            %option{:value => 'firstSorting'} firstSorting
          %span#arr2.arrow
          %select.select
            %option{:value => 'vegetarian'} VEGETARIAN
            %option{:value => 'firstVegetarian'} firstVegetarian
          %span.arrow
        .slider-container
          .field
            %span.price PRICE
            %span.min-value $0
            %input#slider{:max => '135', :min => '0', :oninput => 'sliderChange()', :steps => '1', :type => 'range', :value => '135'}/
            %span#maxValue $135
      .main-food
        #food-container
          - @products.each do |product|
            .box 
              .img-box
                = cl_image_tag(product.picture.to_s, :class => 'food-img') if product.picture.attached?
              %span.item-name= product.title
              %span.item-group= product.description
              %span.item-price
                $
                %span.price-value= product.price
              %span= link_to image_tag('cart.jpg', class: 'item-cart'), add_to_cart_product_path(product.id), method: :post
    %footer.footer
      %p Copyright © 2021 EUREKA CAFFE
