%h1.page-title Your cart contains:
- if @cart.empty?
  %h3 Your cart is empty!
  %h3= link_to 'See your orders', current_user, class: 'header-btn btn-login'
- else 
  .cart-container
    - @cart.each do |product|
      .cart-box
        %h2= product.title
        %h3= product.description
        %h4= "#{ product.price.to_s } $"
        = button_to 'remove', remove_from_cart_product_path(product), class: 'header-btn btn-logout', method: :delete
  %h4= "Total price of your cart: #{ total_price(@cart) } $"
  %h3= link_to 'Place order', new_order_path, class: 'header-btn btn-login'
%h2= link_to 'Back to products page', root_path
