%h1.dashboard-title Dashboard
%ul
  - @products.each do |product|
    %li= link_to product.title, product_path(product)
%table
  - @products.each do |product|
    %tr
      %td= link_to product.title, product_path(product)
      %td= button_to 'Edit', edit_product_path(product), method: 'get'
      %td= button_to 'Remove', product_path(product), method: 'delete', data: { confirm: 'Are you sure?' }
%br/
= link_to "Add a New Product", new_product_path
%br/
= link_to "Back to Home", root_path
