%h1 Show Product
%h2= @product.title
%h3= @product.description
%h4= "#{ @product.price.to_s } $"
= cl_image_tag(@product.picture.to_s, height: '450', width: '300', class: 'image') if @product.picture.attached?
%br>/
%h4= link_to 'Remove', @product, method: :delete, data: { confirm: 'Are you sure?' }
