.authentication
  %nav.authentication-nav
    %ul.authentication-ul
      - if logged_in?
        %li= link_to 'Dashboard', dashboard_path, class: 'header-btn btn-signup' if current_user.admin?
        %li= link_to 'Log out', logout_path, class: 'header-btn btn-logout', method: :delete
        %li= link_to 'My profile', current_user, class: 'header-btn'
        %li= link_to image_tag('cart.jpg', class: 'logo-cart'), cart_path, class: 'header-btn', method: 'get'
      - else
        %li= link_to 'Log in', login_path, class: 'header-btn btn-login'
        %li= link_to 'Sign up', signup_path, class: 'header-btn btn-signup'
